:root{
  --clr-bg: white;
  --clr-input-off: none; /*orange*/
  --clr-input-on: blue;

  @media (prefers-color-scheme: dark) {
    --clr-bg: rgb(30,30,30);
    --clr-input-bg: rgb(40,40,40);
    --clr-input-on: royalblue;

    color: white;
  }
}




html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--clr-bg);
}


*{
  font-family: "bahnschrift";
}

input{
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}


div.input{
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  border-bottom: 2px var(--clr-input-off) solid;
  box-sizing: border-box;
  background-color: var(--clr-input-bg);
  /* overflow: hidden; */
}

/* div.input input[value=""]{
  border-bottom: 2px orange solid;
} */

div.input input{
  position: relative;
  display: flex;
  border: none;
  padding: 10px;
  outline: none;
  background-color: transparent;
  transition: color 50ms ease-in-out;
}
div.input input[value=""]:not(:focus) {
  color: slategray;
}

div.input > div{
  /* content: ''; */
  position: absolute;
  display: flex;
  bottom: -2px;
  width: 0%;
  height: 100%;
  opacity: 0;
  border-bottom: 2px solid var(--clr-input-on);
  border-radius: inherit;
  box-sizing: border-box;
  transition: 0.25s ease;
  pointer-events: none;
}
div.input input:focus ~ div, div.input input:not([value=""]) ~ div{
  width: 100%;
  opacity: 1;
}
